body{
    background-color: #181C14;
    font-family: Arial, Helvetica, sans-serif;
    font-feature-settings: normal;
}
nav{
    float: right;
    margin-top: 5px;
}
a{
    text-decoration: none;
}
nav a{
    margin: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
nav a:hover{
    text-decoration: underline;
}
.main-home{
    text-align: center;
    margin-top: 130px;
    margin-bottom: 130px;
}
.main-about{
    margin-top: 130px;
    margin-bottom: 130px;
}
.main-projects{
    margin-top: 130px;
    margin-bottom: 130px;
    padding-left: 3%;
    padding-right: 3%;
}
.center{
    width: 70%;
    margin: auto;
}
#container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 25px;
    justify-content: center;
    grid-auto-rows: 1fr;
}
#container > div{
    background-color: #2a2a2a; 
    border-radius: 10px;
    color: white;
    margin: 15px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 400px;
}
#container > div:hover{
    transform: translateY(-5px); 
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.project-link{
    color:orange;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 10px;
}
.project-link:hover{
    text-decoration: underline;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.small-box{
    background-color:#E4E7EB;
    color: #1F2937;
    border-radius: 10px;
    padding: 10px;
    width:fit-content;
    margin: 5px;
}
h1{
    font-size: 50px;
    font-weight: 700;
    color: white;
}
h2{
    font-size: 30px;
    font-weight: 200;
    color: white;
}
p{
    color: white;
}
footer{
    text-align: center;
}
footer a{
    margin: 20px;
}
img{
    width: 2.5rem;
}